.header-container {
  z-index: 9999;
  position: sticky;
  top: 0;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  margin-bottom: 20px;
}
.logo {
  font-weight: 900;
  font-family: "Helvetica Neue";
  color: #008080;
  font-size: 28px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #ececec;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 2;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.icon-btn:hover {
  background-color: #008080;
}
